<ion-header>
  <ion-toolbar>
    <ion-title>Portal Asistencia Duoc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-card >

  <ion-card-content class="bienv">

    <ion-item>
      <ion-label >Bienvenida/o! {{usuario}}</ion-label>
    </ion-item>

  </ion-card-content>

</ion-card>


  <div>
    <img src="/src/assets/otrologo.jpg" >
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Fuga, odit corrupti aspernatur error ducimus quia amet alias 
      ut assumenda hic natus quaerat doloremque, voluptate, autem 
      recusandae inventore modi ad quas.</p>
  </div>





</ion-content>
